.col{
    padding-top: 40px;
  }
  input {
      text-align: center;
    background:black;
    border: 1px solid #ffffff;
    padding: .7em .8em;
    height: 50px;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
    color: #fff;
  }
    
  input::placeholder{
    color: #fff
  }
  .btn{
    border-radius: 0 20px 20px 0;
    height: 46px;
  }